main{
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    & ul{
        margin: 10px 0;
        width: 90%;
        max-height: 82vh;
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        overflow: scroll;
        & li{
            list-style: none;
        }
    }
}
.toffle::-webkit-scrollbar{
    width: 8px;
    height: 100%;
}
.toffle::-webkit-scrollbar-track{
    margin-block: 0.2rem;
}
.toffle::-webkit-scrollbar-thumb{
    background-color: #d1d0d0;
    border-radius: 10px;
}
.toffle::-webkit-scrollbar-thumb:hover{
    background-color: #979797;
}
