li{
    width: 49%;
    border: solid 2px #e1e1e1;
    border-radius: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    & img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    & div{
        display: flex;
    }
    & div:nth-child(1){
        width: 90%;
        margin: 5px 0;
        flex-direction: column;
        align-items: center;
        & a{
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: black;
            cursor: pointer;
        }
    }
    & div:nth-child(2){
        width: 90%;
        margin: 5px 0;
        flex-direction: column;
        align-items: center;
        & p{
            margin: 5px 0;
        }
        & div{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            margin: 5px 0;
            & p{
                font-size: 1.2rem;
                font-weight: bold;
                
            }
        }
        & button{
            width: 40px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #d1d0d0;
            cursor: pointer;
            font-size: 1.5rem;
            &:hover{
                background-color: #979797;
            }
        }
    }
}
.medidas{
    font-size: .9rem;
}
